.header-title {
    display: inline;
}

.header-button {
    display: inline;
    float: right;
}

ion-modal.stack-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  }

ion-item ion-icon {
    margin-left: 10px;
}